.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* background-color: lightblue; */
  padding: 10px;
  gap: 10px;
}

.card {
  padding: 10px;
  width: 4rem;
  height: 4rem;
  perspective: 500px;
  margin: 0 auto;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}
.card--matched {
  pointer-events: none;
  opacity: 0.5;
}
.card:hover {
  transform: scale(1.1);
}
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 10px;
  background-color: lightblue;
}
/* .card:hover .card-inner, */
.card--selected .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-front {
  /* background-color: blue; */
}
.card-back {
  /* background-color: red; */
  transform: rotateY(180deg);
}
